.container
{
  height: 40%;
  width:  30%;
  margin-top: 6%;
  padding: 40px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;
}
img
{
  width: 25%;
  height: 25%;
  border-radius: 50%;
  margin-left: 35%;
  margin-bottom: 5%;

}
