<div class="container">
  <div class="row">
       <img src="https://www.w3schools.com/w3images/avatar2.png">
  </div>
  <div class="row">
       <input type="email" class="form-control" placeholder="email" #email>
  </div>
  <div class="row">
      <input type="password" class="form-control" placeholder="password" #password>
  </div>
  <div class="row">
      <button class="form-control btn-primary" (click)=login(email.value,password.value)>Login</button>
  </div>
   <div class="row">
      <button class="form-control btn-primary" (click)=googlelogin()>Login with Google</button>
  </div>

</div>
